notebook
jupyter
rasterio
rioxarray
scikit-learn
geopandas
shapely
pyreadr
ipykernel
ipython
pyyaml
rasterstats
scipy
seaborn
numpy
matplotlib
numba
geopy
schema
termcolor
tqdm
pytest
setuptools
selectio